.App {
  text-align: center;
}

.Product{
  height:fit-content;
  width: 240px;
  padding: 10px 10px 10px 10px;
}

img{
  width: 240;
  height: 300;
}

.AddDish{
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  gap:24px;
  flex-wrap: wrap;
  justify-content: center;
}

.AddUsers{
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  gap:24px;
  flex-wrap: wrap;
  justify-content: center;
}

.Dishes{
  display: flex;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  gap:24px;
  flex-wrap: wrap;
  justify-content: center;
}

table,td,th{
  width: 100%;
  border-style:solid;
  text-align: center;
}

tr{
  height: 30px;
  display: flex;
  flex-direction: row;
}

.header{
 font-size:x-large;
 color: midnightblue;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}